= content_for(:title, @blog.title)
= content_for(:meta, @blog.meta)
%section.bg-primary-500
  .container.mx-auto
    .flex.pt-20.pb-10

      .ml-40{class: 'w-1/2'}
        %h1.text-gray-900.text-5xl.font-bold.mb-12.leading-tight= @blog.title
        .flex.space-x-4
          %p.text-sm.text-gray-800.text-lg= l(@blog.created_at.to_date, format: :blog).humanize
          %p.text-sm.text-gray-800.text-lg= t('.time_to_read', time: @blog.time_to_read)
      -# the image resizes to the height of the other div
      .



.blog-content= MarkdownHandler.render(@blog.content)
